*{
    margin: 0;
    padding: 0;
}
/* --This is Banner-- */
#banner{
    background: #E554731A;
    height: 100vh;
}
.banner-all-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px 0 240px;
}
.banner-info{
    /* margin-top: 240px; */
}
.banner-all-item img{
    margin-top: 9%;
    margin-left: 1%;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 85px;
    font-weight: 800;
}
.banner-desc{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
}
.btn{
    margin-top: 32px;
    padding: 20px 43px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    color: white;
}
/* Our Featured Flowers */
.container{
    margin-top: 150px;
    text-align: center;
}
.featured-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.featured-desc{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}
.rectangle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 240px 0 240px;
}
.rectangle-1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 90px 78px 0 76px;
    
}
.rectangle-1 img{
    width: 310px;
    height: 428px;
    
}
.rectangle-2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 90px 78px 0 76px;
}
.rectangle-2 img{
    width: 310px;
    height: 428px;
}
.rectangle-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 90px 78px 0 76px;
}
.rectangle-3 img{
    width: 310px;
    height: 428px;
}
.rectangle p{ 
    margin-top: 30px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}
/* Our Services  */

.service-container{
    height: 256px;
    margin: 128px 240px 210px 240px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.service-type img {
    width: 88px;
    height: 88px;
}
/* Hot Deal Offer */
.offer-container{
    width: 100%;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-primary{
    color: #E55473;
}
.offer-info{
    margin-left: 340px;
    text-align: center;
}
.offer-container img{
    margin-right: 340px;
}
/*========== Instagram =========*/

.insta-container{
    margin-top: 50px;
}
.insta-container img{
    padding: 0 10px;
}
/*--------------- Newslater------------ */
.newslater{
    background-image: url("Flower Asset/Rectangle 9.png");
    margin: 150px 240px;
    height: 450px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.newslater-text{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center
}

.contact input[type="email"]{
    margin-top: 24px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: #fff;
    border: 0;
    margin-right: 20px;
    width: 45%;
}
/* <!-- Testimonial --> */

.row{
    display: flex;
    justify-content: space-between;
    margin: 30px 240px 45px 240px ;
    gap: 80px;
}
.tesimonials-col{
    background: #E554731A;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    gap: 30px;
}
.tesimonials-col img{
    width: 60px;
    height: 60px;
    border-radius: 30px;
}



/* <!-- ====This is Footer===== --> */
.footer{
    width: 100%;
    height: 450px;
    background: #111010;
    align-items: center;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer-info{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.footer-info h2{
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    color: wheat;
}
.footer-info p{
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    color: #FFFFFFE5;
    margin-bottom: 32px;
}
.footer-info small{
    color: #FFFFFF66;
}